<h1>Меню</h1>
<ul>
	<li><%= link_to "Добавить комплектацию", new_specification_path(model_id: @model.id) %></li>
	<li><%= link_to "Добавить опцию", new_option_path(model_id: @model.id) %></li>
	<li>Изменить фото
		<%= form_tag('/uploadphoto', multipart: true) do %>
			<%= hidden_field_tag :id, @model.id %>
			<%= label :data, "" %>
			<%= file_field_tag :data, accept: 'image/png,image/gif,image/jpeg', class:"hide" %>
			<%= submit_tag "Обновить", class:"c-link red-btn" %>
		<% end %>
	</li>
</ul>