Комплектации
<% if !@spec.nil? %>
<ul>
	<% @model.specifications.each do |spec| %>
		<% if spec.id.to_i == get_spec_id.to_i %>
			<% cls = ' class="selected"' %>
		<% else %>
			<% cls = '' %>
		<% end %>
		<%= raw "<li#{cls}>#{link_to spec.name, model_path(spec_id: spec.id), class: "c-link"}</li>" %>
	<% end %>
</ul>
<% else %>
<h3>Отсутствуют комплектации для модели</h3>
<% end %>

Двигатель
<% if @spec.nil? || @model.specifications.count == 0 %>
<h3>Отсутствуют двигатели для комплектации</h3>
<% else %>
<ul id="engines">
	<% @spec.engines.each do |eng| %>
		<li class="<%= eng.id %>">
			<%= radio_button_tag(:engine, eng.id) %>
			<%= label_tag(:engine, "#{eng.power} л.с. #{eng.displacement/1000.0} л.") %>
			</br>
			<%= link_to "Подробнее", "#eng_id_#{eng.id}", rel: "facebox" %>
			<div id="eng_id_<%= eng.id %>" style="display:none;">
				<p><%= "#{eng.model} (#{eng.type_of_engine.name})" %></p>
				<%= split_rn(eng.info) %>
			</div>
		</li>
	<% end %>
</ul>
<% end %>