<%= form_for(:session, url: sessions_path) do |f| %>
<div class="colors">
	<%= f.label :email, "Email:" %>
	<%= f.text_field :email %><br></div>
<div class="colors">	
	<%= f.label :password, "Пароль:" %>
	<%= f.password_field :password %></div>
	
	<%= f.submit "Войти", class:"c-link red-btn" %>
<% end %>

	<%= form_tag(new_person_path, method: "get") do %>
		<%= button_tag "Регистрация", class:"с-link gray-btn" %>
	<% end %>